* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
li {
    list-style: none;
}
a {
    color: black;
}
/* button */
.btn {
    width: 30px;
    height: 30px;
    position: absolute;
    bottom: 20%
}
.left {
    left: 200px;
}
.right {
    right: 200px;
}
.left.visible {
    visibility: hidden;
}
.right.visible {
    visibility: hidden;
}

/* font */

@font-face {
    font-family: neon;
    src: url("../font/marquee-moon/marquee\ moon.ttf");
}

@font-face {
    font-family: black-hans;
    src: url("../font/blackHans/BlackHanSans-Regular.ttf")
}


/* animation */

@keyframes imageSlide {
    to {
        transform: perspective(1000px);
    }
    from {
        transform: perspective(1000px) rotateY(360deg);
    }
}

@keyframes filter {
    to {
        filter: hue-rotate(0);
    }
    from {
        filter: hue-rotate(360deg);
    }
}

@keyframes BGcolor {
    to {
        background-color: black;
    }
    50% {
        background-color: rgb(15, 15, 15);
    }
    from {
        background-color: black;
    }
}

@keyframes rotateCube {
    to {
        transform: perspective(1000px) rotateX(0deg) rotateY(0deg);
    }
    from {
        transform: perspective(1000px) rotateX(180deg) rotateY(360deg);
    }
}

@keyframes airText {
    from {
        transform: translateY(2px);
        color: rgb(255, 255, 255);
        text-shadow: 0 0 30px white, -0.25px -0.25px 25px white, -0.5px -0.5px 20px rgba(255, 255, 255, 0.5), -1px -0.75px 15px rgba(255, 255, 255, 0.5), -2px -1px 10px rgba(255, 255, 255, 0.5);
    }
}