.pageBox > .more {
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.pageBox > .threeD_Box{
    width: 100vw;
    height: 100vh;
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
}
.threeD_Box.flex {
    display: flex;
}
.threeD_Box .standard {
    width: 400px;
    height: 600px;
    position: relative;
    transform-style: preserve-3d;
    animation: imageSlide 10s linear infinite;
}
    @keyframes imageSlide {
        to {
            transform: perspective(1000px);
        }
        from {
            transform: perspective(1000px) rotateY(360deg);
        }
    }
.standard .outBox {
    width: 400px;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    transform-style: preserve-3d;
    backface-visibility: hidden;
    transform: rotateY(calc(var(--i)*-72deg)) translateZ(-350px);
}
.outBox .inBox {
    width: 380px;
    height: 280px;
    border: 1px solid;
}

.pageBox > .more {
    z-index: 99;
}