.pageBox .phoneBox {
    width: 1000px;
    height: 700px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.pageBox .phoneBox .phone {
    width: 290px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 8px 0;
    border: 1px solid;
    border-radius: 30px;
}

.screenTop {
    display: flex;
    justify-content: center;
    align-items: center;
}
.topBTN {
    margin: 0 5px;
}
.topBTN:nth-child(1) {
    width: 55px;
    height: 12px;
    border: 1px solid;
    border-radius: 40px;
}
.topBTN:nth-child(2) {
    width: 12px;
    height: 12px;
    border: 1px solid;
    border-radius: 50%;
}
.screenMid {
    width: 270px;
    height: 420px;
    margin-top: -5px;
    display: flex;
    justify-content: center;
    border: 1px solid;
}
.screenBot {
    width: 100%;
    margin-bottom: 5px;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}
.botBTN:nth-child(2) {
    padding: 2px 4px;
    border: 1px solid;
    border-radius: 6px;
}